<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e</key>
	<array>
		<string>95</string>
	</array>
	<key>t</key>
	<array>
		<string>20</string>
	</array>
	<key>a</key>
	<array>
		<string>60</string>
	</array>
	<key>o</key>
	<array>
		<string>80</string>
	</array>
	<key>i</key>
	<array>
		<string>100</string>
	</array>
	<key>n</key>
	<array>
		<string>25</string>
	</array>
	<key>s</key>
	<array>
		<string>20</string>
	</array>
	<key>h</key>
	<array>
		<string>-1</string>
	</array>
	<key>r</key>
	<array>
		<string>30</string>
	</array>
	<key>d</key>
	<array>
		<string>35</string>
	</array>
	<key>l</key>
	<array>
		<string>33</string>
	</array>
	<key>c</key>
	<array>
		<string>20</string>
	</array>
	<key>u</key>
	<array>
		<string>100</string>
	</array>
	<key>m</key>
	<array>
		<string>20</string>
	</array>
	<key>w</key>
	<array>
		<string>20</string>
	</array>
	<key>f</key>
	<array>
		<string>20</string>
	</array>
	<key>g</key>
	<array>
		<string>25</string>
	</array>
	<key>y</key>
	<array>
		<string>70</string>
	</array>
	<key>b</key>
	<array>
		<string>30</string>
	</array>
	<key>v</key>
	<array>
		<string>20</string>
	</array>
	<key>k</key>
	<array>
		<string>60</string>
	</array>
	<key>p</key>
	<array>
		<string>25</string>
	</array>
	<key>j</key>
	<array>
		<string>20</string>
	</array>
	<key>x</key>
	<array>
		<string>10</string>
	</array>
	<key>q</key>
	<array>
		<string>40</string>
	</array>
	<key>z</key>
	<array>
		<string>-1</string>
	</array>
	<key> </key>
	<array>
		<string>-1</string>
	</array>
</dict>
</plist>
